# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/CBMC_smt/CBMC_smt
src/CBMC_smt/endianness.h
src/CBMC_smt/uuid_v4.h
.vscode/settings.json
src/CBMCsynth/CBMCsynth
*.tmp
